* {
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
}

body { 
  min-height: 100vh;

  font-family: 'Raleway', sans-serif;
}


header{

   
  width:100%;
 
 overflow:hidden;
 background:rgb(255, 222, 89);

margin-bottom: 20px;
position: relative;z-index: 1;
}
.wrapper{
width:90%;
overflow: hidden;
margin:auto;
max-width: 1000px;

}

.logo{

margin-top: 20px;
 line-height:150px;
float: left;

}

header .nav{
margin-top: 50px;
padding:0px 20px;
float: right;
line-height: 100px;
}

header .nav a{
display:inline-block;
color:black;
text-decoration:none;
padding:10px 20px;
line-height:normal;
font-size:30px;
font-weight:bold;
-webkit-transition: all 500 ms ease;
-o-transition:all 500ms ease;
transition:all 500 ms ease;

}

header .nav a:hover {
background: #ffffff;
border-radius:50px;
}
.header2 {
position:fixed;
height:100px;
}
.header2 .logo {

line-height: 100px;
width: 200px;
}
.header2 .logo  img
{
  width: 250px;
}
.header2 .nav {
line-height:5px;


}
@media screen and (max-width: 950px)
{
  header .logo,
  header nav 
  {
    width:100%;
    text-align:center;
    line-height:100px;
  }
   .header2 .logo ,
   .header2 nav{
     line-height:50px;


   }
}
/* ------------------------- */
/* Estilos de Materialize */
/* ------------------------- */
.carousel {
  margin-top: 200px;
  min-height: 500px;
  
}

.carousel .carousel-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
  
  width: 500px;
  height: 500px;
  

}

.carousel .carousel-item img {

 
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 15px;
  
}

.carousel .indicators .indicator-item {
  border-radius: 0;
  transform: rotate(45deg);
  margin: 0 15px;
  background: #36221c;
}

@media screen and (max-width:1000px)
{
   .carousel .carousel-item img{
     width: 80%;
   }
   .carousel .carousel-item{
     width: 80%;
   }
}
@media screen and (max-width:700px)
{
   .carousel .carousel-item img{
     width: 60%;
   }
   .carousel .carousel-item{
    width: 60%;
  }
}
@media screen and (max-width:500px)
{
   .carousel .carousel-item img{
     width: 40%;
   }
   .carousel .carousel-item{
    width: 40%;
  }
}
/*slider2*/
.carousel2 {
  margin-top: 200px;
  min-height: 500px;
  
}


/*inspirate*/
.galeria-tipos{
  margin-top:200px;

}
.galeria-tipos h1
{
 
  text-align:center;
  
  font-size:50px;
  margin:20px 0 15px 0;
  font-weight:300;
}
.contenedor-imagenes-tipos{
  display:block;
  width:50%;
  margin:auto;
  justify-content:space-around;
  flex-wrap:wrap;
  border-radius:3px;
  
}
.contenedor-imagenes-tipos .imagen-tipo{
display: block;
width:35%;
margin:auto;
position: relative;
height:165px;
margin-bottom:5px;

box-shadow:0px 0px 3px 0px rgba(0,0,0, .75)
}

.imagen-tipo img{
  width:100%;
  height:100%;
  object-fit:cover;
}
.overlay1{
  position: absolute;
  bottom:0;
  left: 0;
  background: rgba(232, 246, 255, 0.781);

  width:100%;
  height:0;
  
  overflow: hidden;
  transition:1s ease;
  
}
.overlay1 h2{
  color:black;
  font-size: 30px;
  font-weight:300;
  position: absolute;
  top:50%;
  left:50%;
  text-align:center;
  transform:translate(-50% ,-50%);  
}
.imagen-tipo:hover .overlay1{
  height:100%;
  cursor: pointer;
}
/*inspirate*/
.galeria{
  margin-top:200px;

}
.galeria h1{
  text-align:center;
  font-size:30px;
  margin:20px 0 15px 0;
  font-weight:300;
}

.contenedor-imagenes{
  display:flex;
  width:50%;
  margin:auto;
  justify-content:space-around;
  flex-wrap: wrap;
  border-radius:3px;

}
.contenedor-imagenes .imagen{
width:32%;
position: relative;
height:250px;
margin-bottom:5px;
box-shadow:0px 0px 3px 0px rgba(0,0,0, .75)

}

.imagen img{
  width:100%;
  height:100%;
  object-fit:cover;
}

.overlay{
  position: absolute;
  bottom:0;
  left: 0;
  /*background: rgba(0,118,192,0.781);*/
  background: #ffffff;
  width:100%;
  height:0;
  
  overflow: hidden;
  transition:1s ease;
  
}

.overlay h2{
  color:black;
  font-size: 30px;
  font-weight:300;
  position: absolute;
  top:50%;
  left:50%;
  text-align:center;
  transform:translate(-50% ,-50%);  
}
.imagen:hover .overlay{
  height:100%;
  cursor: pointer;
}
@media screen and (max-width:1000px)
{
  .contenedor-imagenes{
      width:95%;
  }
}


@media screen and (max-width:700px)
{
  .contenedor-imagenes{
      width:90%;
  }

  .contenedor-imagenes .imagen{
      width: 48%;
  }
}

@media screen and (max-width:700px)
{
  h1{
      font-size: 22px;
  }
  .contenedor-imagenes{
      width:90%;
  }

  .contenedor-imagenes .imagen{
      width: 48%;
  }
}
/*about us*/

/*galeria*/

/*footer*/
/*footer{
  background: #414141;
  padding: 60px 0 30px 0;
  margin: auto;
  overflow: hidden;
}
.contenedor-footer{
  display: flex;
  width: 90%;
  justify-content: space-evenly;
  margin: auto;
  padding-bottom: 50px;
  border-bottom: 1px solid #ccc;
}
.content-foo{
  text-align: center;
}
.content-foo h4{
  color: #fff;
  border-bottom: 3px solid #0dd2f5;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.content-foo p{
  color: #ccc;
}

.titulo-final{
  text-align: center;
  font-size: 24px;
  margin: 20px 0 0 0;
  color: #9e9797;
}*/
